scipy>=1.4.1
numpy>=1.18.1
ConfigSpace>=0.4.12
scikit-learn
openml
matplotlib
torch
torchvision
gpytorch
GPyOpt
gym
sobol-seq
xgboost
paramz
emukit
pymoo
jax
gplearn
oslo.concurrency>=4.2.0
git+https://github.com/SheffieldML/GPy.git@devel
mmh3
rich
tqdm
wilds
pyro-ppl
bohb-hpo
HEBO
git+https://github.com/RobustBench/robustbench.git
hyperopt
flask_cors
openai
ViennaRNA

# Analysis
pandas
tikzplotlib
pdf2image
seaborn
Pillow
networkx
    
# Remote
flask
requests
celery