:root {
    --brand-1: #e5e5e5;
    --brand-2: #e5e5e5;
    --brand-3: #ffffff;
    --marked-color: #111;
    font-size: 14px;
    --btn-primary-color: #111;
  }
  .ChatApp,
  .MessageContainer,
  .Navbar,
  .Message .Bubble,
  .QuickReplies,
  .ChatFooter {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ChatApp {
    background-color: rgba(0, 0, 0, 0);
  }
  .Navbar {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
  }
  .Navbar-title {
    color: #fff;
  }
  .Message.left .Bubble {
    background-color: #c1c3cf;
    color: #111;
  }
  .Message.right .Bubble {
    color: #111;
  }
  .QuickReplies,
  .ChatFooter {
    background-color: rgba(255, 255, 255, 0);
  }
  